/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: #000531; /* 텍스트 색상 변수 사용 */
  background-color: #d3edfb; /* 원하는 색상으로 변경 */
}

[data-theme='dark'] .heroBanner {
  color: #ffffff; /* 텍스트 색상 변수 사용 */
  background-color: #43666e; /* Dark mode 색상 */
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}